@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    --ui-radius: 0.5rem;

    --color-bright-sun-50: #fefbe8;
    --color-bright-sun-100: #fff6c2;
    --color-bright-sun-200: #ffe989;
    --color-bright-sun-300: #ffd02e;
    --color-bright-sun-400: #fdbe12;
    --color-bright-sun-500: #eca506;
    --color-bright-sun-600: #cc7d02;
    --color-bright-sun-700: #a35805;
    --color-bright-sun-800: #86450d;
    --color-bright-sun-900: #723911;
    --color-bright-sun-950: #431c05;

    --color-neutral-50: #fafafa;
    --color-neutral-100: #f5f5f5;
    --color-neutral-200: #e5e5e5;
    --color-neutral-300: #d4d4d4;
    --color-neutral-400: #a1a1a1;
    --color-neutral-500: #737373;
    --color-neutral-600: #525252;
    --color-neutral-700: #404040;
    --color-neutral-800: #262626;
    --color-neutral-900: #171717;
    --color-neutral-950: #0a0a0a;

    @variant dark {
      --ui-bg: var(--color-neutral-900);
      --ui-bg-muted: var(--color-neutral-800);
      --ui-bg-accented: var(--color-neutral-700);
      --ui-border: var(--color-neutral-800);
      --ui-border-muted: var(--color-neutral-700);
      --ui-text-muted: var(--color-neutral-400);
      --ui-text: var(--color-neutral-200);
      --ui-text-inverted: var(--color-neutral-900);
      --ui-primary: var(--color-bright-sun-400);
      --ui-error: var(--color-red-400);
    }

    @variant light {
      --ui-bg: white;
      --ui-bg-muted: var(--color-neutral-50);
      --ui-bg-accented: var(--color-neutral-200);
      --ui-border: var(--color-neutral-200);
      --ui-border-muted: var(--color-neutral-200);
      --ui-text-muted: var(--color-neutral-500);
      --ui-text: var(--color-neutral-700);
      --ui-text-inverted: white;
      --ui-primary: var(--color-bright-sun-500);
      --ui-error: var(--color-red-500);
    }
  }
}

@theme {
  --font-inter: 'Inter-Regular';
  --font-inter-medium: 'Inter-Medium';
  --font-inter-semibold: 'Inter-SemiBold';
}

@theme inline {
  --background-color-default: var(--ui-bg);
  --background-color-muted: var(--ui-bg-muted);
  --background-color-accented: var(--ui-bg-accented);

  --text-color-muted: var(--ui-text-muted);
  --text-color-default: var(--ui-text);
  --text-color-inverted: var(--ui-text-inverted);

  --radius-xs: calc(var(--ui-radius) * 0.5);
  --radius-sm: var(--ui-radius);
  --radius-md: calc(var(--ui-radius) * 1.5);
  --radius-lg: calc(var(--ui-radius) * 2);
  --radius-xl: calc(var(--ui-radius) * 3);
  --radius-2xl: calc(var(--ui-radius) * 4);
  --radius-3xl: calc(var(--ui-radius) * 6);

  --border-color-default: var(--ui-border);
  --border-color-muted: var(--ui-border-muted);

  --ring-color-default: var(--ui-border);
  --ring-color-muted: var(--ui-border-muted);

  --color-primary: var(--ui-primary);
  --color-error: var(--ui-error);
  --color-bg: var(--ui-bg);
}

@utility h-hairline {
  height: hairlineWidth();
}
