@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-radius: 0.50rem;
  --sidebar-offset: 0px;
}

@theme {
  --font-sans: 'Inter', sans-serif;

  --spacing-page-top: calc(env(safe-area-inset-top) + var(--spacing) * 2);
  --spacing-page-left: calc(env(safe-area-inset-left) + var(--spacing) * 2);
  --spacing-page-right: calc(env(safe-area-inset-right) + var(--spacing) * 2);
  --spacing-page-bottom: calc(env(safe-area-inset-bottom) + var(--spacing) * 2);
}

html, body, #__nuxt {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

@theme inline {
  --spacing-safe: var(--spacing-page-top)
            var(--spacing-page-right)
            var(--spacing-page-bottom)
            calc(var(--spacing-page-left) + var(--sidebar-offset));
}

@media (width >= 64rem) {
  :root {
    --sidebar-offset: calc(54px + var(--spacing) * 2);
  }
}
