@import "tailwindcss";
@import "@nuxt/ui";

html, body {
  font-family: Roboto;
}

:root {
  --ui-top-padding: calc(var(--safe-area-inset-top) + (var(--spacing) * 4));
}

.content-padding {
  padding: calc(var(--spacing) * 4);
  padding-top: var(--ui-top-padding);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
